﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Page level styles*/
.products
{
    list-style:none;
}
.products > li {
    position:relative;
    margin-bottom:30px;
}

.products > li .OtherDetails
{
    position:absolute;
    top: 20px;
    left : 180px;
}

.products > li .Actions
{
    position:absolute;
    top: 20px;
    left : 300px;
    font-size:small;
}

.products > li .btnAddtoCart
{
    position:absolute;
    top: 0px;
    left : 160px;
    font-size:small;
}

.products > li .btnAddtoFav
{
    position:absolute;
    top: 0px;
    left : 300px;
    font-size:small;
}
.ProductName
{
    font-weight:bolder
}