﻿@model OnlineShoppingStore3.Models.Products
<ul class="products">
    <li class="well">
        <div class="ProductDetails">
            <div class="ProductName">
                @Model.ProductName
            </div>
            <div class="ProductDesctiption">
                @Model.Description
            </div>
        </div>
        <div class="OtherDetails">
            <span class="price label label-primary">
                @Model.Price.ToString("c")
            </span>
            <div class="category">
                @Model.Category.CategoryName
            </div>
        </div>
        <div class="Actions">
            <div>
               <a href="@Url.Action("Edit", "Product", new { productId = Model.ProductId })">Edit</a>
            </div>
            <div>
                @*<a href="#" class="js-delete-product" data-product-id="@Model.ProductId">Delete</a>*@
                <a href="@Url.Action("Delete","Product",new { productId=Model.ProductId })">Delete</a>
            </div>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {    <div class="btnAddtoCart">
            @Html.HiddenFor(x=>x.ProductId)
            @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success small" value="Add to Cart"/>
        </div>
    }
            <div class="btnAddtoFav">
                <button data-prod-id="@Model.ProductId" class="btn btn-default btn-sm pull-right js-toggle-favprod">Add to Favourite ?</button>
            </div>
          </div>
    </li>
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            var button = $(e.target);
            $(".js-toggle-favprod").click(function(e) {
                $.post("/api/FavouriteProduct", button.attr("data-prod-id"))
                .done(function () {
                    button.removeClass("btn-default").addClass("btn-info").text("Fav");
                })
                .fail(function () {
                    alert("Something failed!");
                });
            });
        });
    </script>
}
