﻿@using OnlineShoppingStore3.HTMLHelpers
@model OnlineShoppingStore3.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@foreach(var p in Model.Products)
{
    @Html.Partial("ProductSummary", p);
}
    

<div>
   @Html.PageLinks((OnlineShoppingStore3.Models.PagingInfo)Model.PagingInfo, 
   x => Url.Action("Details", new { page = x }))
</div>

