﻿@model OnlineShoppingStore3.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Create";
}

<h4>@Model.Heading</h4>
@using (@Html.BeginForm(Model.Action, "Product"))
{ 
    <form>
        @Html.HiddenFor(m=>m.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.ProductName)
            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.ProductName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Price)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CategoryId)
            @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"), "------------ Please Select------------", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryId)
           </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
}
