﻿@model OnlineShoppingStore3.ViewModels.CartIndexViewModel
<style>
    #cartTable td{vertical-align:middle}
</style>
@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<h2>Your cart</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var line in Model.Cart.Line)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Products.ProductName</td>
                <td class="text-right">
                    @line.Products.Price.ToString("c")
                </td>
                <td class="text-right">
                    @((line.Quantity*line.Products.Price).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Products.ProductId)
                        @Html.HiddenFor(p=>p.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total: </td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c");
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">
        Continue shopping
    </a>
</div>

