﻿@model OnlineShoppingStore3.Models.Cart

<div class="navbar-right">
    @*@Html.ActionLink("Checkout", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery },*@
    @*new {@class="btn btn-default navbar-btn"})*@
</div>
<div class="navbar-text navbar-right">
    <b>Your Cart : </b>
    @Model.Line.Sum(m=>m.Quantity) items(s),
    @Model.ComputeTotalValue().ToString("c")
</div>
